<%- include('../includes/admin/header',{page_title: 'User Managment'}); %>

<h3>Bundle Displayer</h3>
<h4>To add new bundles</h4>
<a href="/admin/bundel" class="btn btn-primary">button</a>
<%- include('../includes/admin/footer'); %>
