<%- include('../includes/admin/header',{page_title: 'User Managment'}); %>


      <script src="//cdn.ckeditor.com/4.7.3/full/ckeditor.js"></script>

			<!-- /col-3 -->
  			<div class="col-sm-9">

					<div class="col-md-12">

              <h3>Create a Bundel:</h3>
              <form method="post" action="/admin/bundel" name="bundel">
                <h4>Name of the bundel</h4>
                <input name="bundelName" type="text"/>
                <h4>Publish date</h4>
                <input name="publishDate" type="date"/>
                <textarea name="bundelEditor" > </textarea>
                <script>CKEDITOR.replace( 'bundelEditor' );</script>
                <input type="submit" name="Submit" class="btn btn-success" />
              </form>
					</div>
        </div>


            <!--/col-span-9-->
<%- include('../includes/admin/footer'); %>
