<%- include('../includes/admin/header',{page_title: 'User Managment'}); %>
<<<<<<< HEAD


<%- include('../includes/admin/footer'); %>
=======
    <div>
        <p>Media:</p>
        <% filemanager %>
    </div>

        <%- include('../includes/admin/loginFooter'); %>
>>>>>>> 94af64310c7633dd33b9ab4da96036b211281ee3
