<%- include('../includes/admin/header',{page_title: 'User Managment'}); %>
    <div>
        <p>Media:</p>
        <% filemanager %>
    </div>

        <%- include('../includes/admin/loginFooter'); %>
