<%- include('../includes/admin/header',{page_title: 'User Managment'}); %>

<h3>Page Displayer</h3>
<h4>To add new pages</h4>
<a href="/admin/dynamicPage" class="btn btn-primary">button</a>




<%- include('../includes/admin/footer'); %>
